.header {
    color: white;
    background-color: #D61C4E;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    position: fixed;
    justify-content: space-between;
    display: flex;
}
.header h1 {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.header nav {
    display: inline;
    float: right;
    padding: 20px;
    display: flex;
    align-items: center;
    
}
.header nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.header nav ul li {
    display: inline;
    margin: 0;
    padding: 0;
}
.header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
.header nav ul li a:hover {
    background-color: white;
    color: orange;
}
body{
    background-color: #FEB139;
    width: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.intro {
    margin-top: 100px;
    display: fixed;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.main {
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: auto;
    background-color: #C63D2F;
    border-radius: 5px;
    margin: 20px;
  }
.container {
    background-color: #FF9B50;
    padding: 10px;
    margin: 20px;
    width: 500px;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 20px rgb(255, 94, 0);
    margin-bottom: 20px;
    display: inline-block;
}
.pizza {
    animation: rotate 5s infinite;
  }

  @keyframes rotate {
    0%, 100% {
      transform: rotate(20deg);
    }  50% {
      transform: rotate(-20deg);
    }
  }
  
  @media (max-width: 600px) {
    .main {
      flex-direction: column;
    }
  }
  button[type="submit"] {
    background-color: #C63D2F;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px; 
  }